In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cv2 as cv
%matplotlib inline

from os import listdir

# Versiones de librerías
print("".join(f"{x[0]}:{x[1]}\n" for x in [
    ("Numpy",np.__version__),
    ("Pandas",pd.__version__),
    ("Seaborn",sns.__version__),
    ("Open CV",cv.__version__)
]))

Numpy:1.19.2
Pandas:1.3.1
Seaborn:0.11.1
Open CV:4.0.1

In [2]:
# Path dataset
path_csv = r"C:\Users\Agustin\Documents\RepositorioCEIA_Git\VpC2_Datasets\severstal-steel-defect-detection/train.csv"
path_img = r"C:\Users\Agustin\Documents\RepositorioCEIA_Git\VpC2_Datasets\severstal-steel-defect-detection/train_images"
# Path dataset reducido
csv_reducido = r"C:\Users\Agustin\Documents\RepositorioCEIA_Git\VpC2_Datasets\severstal-steel-defect-detection/train_4sigmoid.csv"

In [3]:
# Indice de ID img
archivos = listdir(path_img)
print(f"Cantidad de imagenes: {len(archivos)}")

Cantidad de imagenes: 12568

In [4]:
# Lectura del csv
train_csv = pd.read_csv(path_csv)

In [5]:
print(f"Falla tipo 1: {np.sum(train_csv.ClassId==1)}")
print(f"Falla tipo 2: {np.sum(train_csv.ClassId==2)}")
print(f"Falla tipo 3: {np.sum(train_csv.ClassId==3)}")
print(f"Falla tipo 4: {np.sum(train_csv.ClassId==4)}")

Falla tipo 1: 897
Falla tipo 2: 247
Falla tipo 3: 5150
Falla tipo 4: 801

In [6]:
train_reducido = train_csv.copy()
train_reducido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7095 entries, 0 to 7094
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ImageId        7095 non-null   object
 1   ClassId        7095 non-null   int64
 2   EncodedPixels  7095 non-null   object
dtypes: int64(1), object(2)
memory usage: 166.4+ KB

In [7]:
train_reducido = train_csv[train_csv['ClassId']!=3]

In [8]:
train_reducido.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 7086
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ImageId        1945 non-null   object
 1   ClassId        1945 non-null   int64
 2   EncodedPixels  1945 non-null   object
dtypes: int64(1), object(2)
memory usage: 60.8+ KB

In [9]:
type_3 = train_csv[train_csv['ClassId']==3]
type_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 7094
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ImageId        5150 non-null   object
 1   ClassId        5150 non-null   int64
 2   EncodedPixels  5150 non-null   object
dtypes: int64(1), object(2)
memory usage: 160.9+ KB

In [10]:
type_3[:900]

,ImageId,ClassId,EncodedPixels
1,0007a71bf.jpg,3,18661 28 18863 82 19091 110 19347 110 19603 11...
4,0014fce06.jpg,3,229501 11 229741 33 229981 55 230221 77 230468...
5,0025bde0c.jpg,3,8458 14 8707 35 8963 48 9219 71 9475 88 9731 8...
11,0046839bd.jpg,3,152926 1 153180 4 153434 6 153689 8 153943 11 ...
12,005d86c25.jpg,3,331 18 587 53 843 89 1099 124 1355 159 1611 17...
...,...,...,...
1259,2df1da5bd.jpg,3,241409 3328 244801 192 245185 64 277185 64 277...
1261,2e12e1c6a.jpg,3,279804 5 280057 8 280311 10 280565 12 280817 1...
1263,2e29001f1.jpg,3,126758 13 127014 39 127270 65 127526 78 127782...
1264,2e2f5467c.jpg,3,39937 43 40193 128 40449 213 40705 2048 42754 ...
1265,2e35ebe13.jpg,3,91379 6 91635 12 91890 13 92146 13 92401 14 92...

In [11]:
train_reducido = pd.concat([train_reducido, type_3[:900]])

In [12]:
train_reducido.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2845 entries, 0 to 1265
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ImageId        2845 non-null   object
 1   ClassId        2845 non-null   int64
 2   EncodedPixels  2845 non-null   object
dtypes: int64(1), object(2)
memory usage: 88.9+ KB

In [13]:
train_reducido.to_csv(csv_reducido, index=False)