In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import os
import seaborn as sns

import numpy as np
from matplotlib import pyplot as plt
from sklearn import metrics

import torch # Libreria
from torch.utils.data import Dataset # Clase u objeto que va a contener la informacion que vamos a utilizar para entrenar y evaluar nuestro algoritmo
from torch.utils.data import DataLoader

In [2]:
device = ""
if torch.cuda.is_available():
    device = "cuda:0"
else:
    device = "cpu"

print(torch.cuda.is_available())

True

In [3]:
if torch.cuda.is_available():
    print('__CUDNN VERSION:', torch.backends.cudnn.version())
    print('__Number CUDA Devices:', torch.cuda.device_count())
    print('__CUDA Device Name:',torch.cuda.get_device_name(0))
    print('__CUDA Device Total Memory [GB]:',torch.cuda.get_device_properties(0).total_memory/1e9)

__CUDNN VERSION: 7605
__Number CUDA Devices: 1
__CUDA Device Name: NVIDIA GeForce RTX 2060
__CUDA Device Total Memory [GB]: 6.442450944

In [4]:
print("Device: ",device)

Device:  cuda:0

## Lectura del Dataset

In [5]:
path = './World Happiness Report/'

In [6]:
data_csv = os.listdir(path)
print(data_csv)

['2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', 'ds_final.csv', 'full_2015.csv', 'full_2016.csv', 'full_2017.csv', 'full_2018.csv', 'full_2019.csv', 'full_data.csv']

In [7]:
ds = pd.read_csv(path+'ds_final.csv')

In [8]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       782 non-null    float64
 1   Country                    782 non-null    object
 2   Happiness Score            782 non-null    float64
 3   GDP per Capita             782 non-null    float64
 4   Life Expectancy            782 non-null    float64
 5   Freedom                    782 non-null    float64
 6   Perceptions of corruption  782 non-null    float64
 7   Generosity                 782 non-null    float64
 8   Region                     782 non-null    object
dtypes: float64(7), object(2)
memory usage: 55.1+ KB

In [9]:
ds.head()

,Year,Country,Happiness Score,GDP per Capita,Life Expectancy,Freedom,Perceptions of corruption,Generosity,Region
0,2015.0,Switzerland,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,Western Europe
1,2015.0,Iceland,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,Western Europe
2,2015.0,Denmark,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,Western Europe
3,2015.0,Norway,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,Western Europe
4,2015.0,Canada,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,North America

#### OHE sobre la feature Country y Region

In [10]:
country = pd.get_dummies(ds.Country, prefix=None)
country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Columns: 165 entries, Afghanistan to Zimbabwe
dtypes: uint8(165)
memory usage: 126.1 KB

In [11]:
country.head()

,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
region = pd.get_dummies(ds.Region, prefix=None)
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Australia and New Zealand        782 non-null    uint8
 1   Central and Eastern Europe       782 non-null    uint8
 2   Eastern Asia                     782 non-null    uint8
 3   Latin America and Caribbean      782 non-null    uint8
 4   Middle East and Northern Africa  782 non-null    uint8
 5   North America                    782 non-null    uint8
 6   Southeastern Asia                782 non-null    uint8
 7   Southern Asia                    782 non-null    uint8
 8   Sub-Saharan Africa               782 non-null    uint8
 9   Western Europe                   782 non-null    uint8
dtypes: uint8(10)
memory usage: 7.8 KB

In [13]:
region.head()

,Australia and New Zealand,Central and Eastern Europe,Eastern Asia,Latin America and Caribbean,Middle East and Northern Africa,North America,Southeastern Asia,Southern Asia,Sub-Saharan Africa,Western Europe
0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0

In [14]:
ds_ohe = pd.concat([ds, country, region], axis=1)
ds_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Columns: 184 entries, Year to Western Europe
dtypes: float64(7), object(2), uint8(175)
memory usage: 188.8+ KB

In [15]:
ds_ohe.head()

,Year,Country,Happiness Score,GDP per Capita,Life Expectancy,Freedom,Perceptions of corruption,Generosity,Region,Afghanistan,...,Australia and New Zealand,Central and Eastern Europe,Eastern Asia,Latin America and Caribbean,Middle East and Northern Africa,North America,Southeastern Asia,Southern Asia,Sub-Saharan Africa,Western Europe
0,2015.0,Switzerland,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,Western Europe,0,...,0,0,0,0,0,0,0,0,0,1
1,2015.0,Iceland,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,Western Europe,0,...,0,0,0,0,0,0,0,0,0,1
2,2015.0,Denmark,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,Western Europe,0,...,0,0,0,0,0,0,0,0,0,1
3,2015.0,Norway,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,Western Europe,0,...,0,0,0,0,0,0,0,0,0,1
4,2015.0,Canada,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,North America,0,...,0,0,0,0,0,1,0,0,0,0

In [16]:
final_data = ds_ohe.drop(['Country', 'Region', 'Happiness Score'], axis=1, inplace=False)
output = ds_ohe['Happiness Score']

In [17]:
final_data = final_data.to_numpy()
output = output.to_numpy()

In [18]:
normalized_data = (final_data - np.min(final_data, axis=0)) / (np.max(final_data, axis=0) - np.min(final_data, axis=0))

### Dataset Split

In [19]:
n = final_data.shape[0]
idx = np.random.permutation(np.arange(0, n))
train_idx = idx[:int(0.8 * n)]
test_idx = idx[int(0.8 * n):]
assert len(train_idx) + len(test_idx) == len(idx)

In [20]:
x_train = final_data[train_idx,:]
y_train = output[train_idx]

x_test = final_data[test_idx,:]
y_test = output[test_idx]

In [21]:
print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

(625, 181)
(625,)
(157, 181)
(157,)

### Deep Learning

In [37]:
class CustomDataset(Dataset):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def __len__(self):
        return self.x.shape[0]
  
    def __getitem__(self, idx):
        return self.x[idx,:], self.y[idx]

In [38]:
training_set = CustomDataset(x_train, y_train)

In [39]:
test_set = CustomDataset(x_test, y_test)

In [40]:
training_dataloader = DataLoader(training_set, shuffle=True)
test_dataloader = DataLoader(test_set, shuffle=True)

In [41]:
# Definimos el modelo
class NNet(torch.nn.Module):
    def __init__(self):
        super().__init__()
        self.linear_1 = torch.nn.Linear(in_features = 181, out_features = 300, bias = True)
        self.dropout_1 = torch.nn.Dropout(p=0.5)
        self.relu_1 = torch.nn.ReLU()
        self.linear_2 = torch.nn.Linear(in_features = 300, out_features = 500, bias = True)
        self.dropout_2 = torch.nn.Dropout(p=0.25)
        self.relu_2 = torch.nn.ReLU()
        self.linear_3 = torch.nn.Linear(in_features = 500, out_features = 800, bias = True)
        self.dropout_3 = torch.nn.Dropout(p=0.25)
        self.relu_3 = torch.nn.ReLU()
        self.linear_4 = torch.nn.Linear(in_features = 800, out_features = 200, bias = True)
        self.dropout_4 = torch.nn.Dropout(p=0.5)
        self.relu_4 = torch.nn.ReLU()
        self.linear_5 = torch.nn.Linear(in_features = 200, out_features = 1, bias = True)
        
    def forward(self, x):
                                    
        z1 = self.linear_1(x)
        z1_1 = self.dropout_1(z1)
        a1 = self.relu_1(z1_1)
        z2 = self.linear_2(a1)
        z2_1 = self.dropout_2(z2)
        a2 = self.relu_2(z2_1)
        z3 = self.linear_3(a2)
        z3_1 = self.dropout_3(z3)
        a3 = self.relu_3(z3_1)
        z4 = self.linear_4(a3)
        z4_1 = self.dropout_4(z4)
        a4 = self.relu_4(z4_1)
        y = self.linear_5(a4)

        return y

In [42]:
nnet = NNet()

In [43]:
criterion = torch.nn.MSELoss(reduction='mean')
optimizer = torch.optim.SGD(nnet.parameters(), lr=0.005)

In [44]:
nnet.to(device)

NNet(
  (linear_1): Linear(in_features=181, out_features=300, bias=True)
  (dropout_1): Dropout(p=0.5, inplace=False)
  (relu_1): ReLU()
  (linear_2): Linear(in_features=300, out_features=500, bias=True)
  (dropout_2): Dropout(p=0.25, inplace=False)
  (relu_2): ReLU()
  (linear_3): Linear(in_features=500, out_features=800, bias=True)
  (dropout_3): Dropout(p=0.25, inplace=False)
  (relu_3): ReLU()
  (linear_4): Linear(in_features=800, out_features=200, bias=True)
  (dropout_4): Dropout(p=0.5, inplace=False)
  (relu_4): ReLU()
  (linear_5): Linear(in_features=200, out_features=1, bias=True)
)

In [45]:
for epoch in range(100):
    running_loss = 0
    for i, data in enumerate(training_dataloader):
        # data
        x, y = data
        x = x.to(device).float()
        y = y.to(device).float().reshape(-1,1)
        
        # set gradient to zero
        optimizer.zero_grad()

        #forward
        y_hat = nnet(x).reshape(-1,1)

        #loss
        loss = criterion(y_hat, y)

        #backward
        loss.backward()

        #update of parameters
        optimizer.step()

        #compute metrics and statistics
        running_loss += loss.item()
    
    nnet.eval()
    with torch.no_grad():
        nnet_test_scores = []
        truth = []
        
        for i, data in enumerate(test_dataloader):
            #batch
            x, y = data
            x = x.to(device).float()
            y = y.to(device).float().reshape(-1,1)
        
            # forward 
            y_hat = nnet(x)
            #y_hat = torch.abs(y_hat)
        
            # accumulate data
            truth = list(y.cpu().detach().numpy()) 
            nnet_test_scores = list(y_hat.cpu().detach().numpy())
            
        mse = metrics.mean_squared_error(truth, nnet_test_scores)
        
    print(f"Epoch = {epoch} - loss = {running_loss / len(training_set)} - mse: {mse}")

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
np.sum(np.isnan(x_train))

In [ ]:
np.sum(np.isnan(y_train))

In [ ]:
np.sum(np.isnan(x_test))

In [ ]:
np.sum(np.isnan(y_test))